a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

@media (max-width: 1366px) and (min-width: 990px) {
  .child-props{
    left:4%;
    right: 4%;
  }
}
@media screen and (max-width: 990px) and (min-width: 765px){
  .child-props{
    left:10%;
    right: 10%;
  }
}

.side a{
  display: block;  
  color:white;
  padding: 8px 16px;
}

.sidebar-brand{
  position:  fixed;
  overflow:  auto;
  text-align: center;
  list-style-type: none;
  margin:0;
  padding: 0;
  width:auto;
  background-color: rebeccapurple;
  float: right;
  border: #0366d6 dashed;
}
.child-props{
  display: block;
  overflow: auto;
  position: relative;
 
}

.test{
  display: block;
  overflow: auto;
  
}
.side a:hover{
  background-color: #E01A76;
  color: white;
}